.header {

}

.content {
  padding: 1rem;
}

.map-wrapper {
  height: 100%;
}

.map-canvas{
  @extend .map-wrapper;
}

.map-spacer{
  height: $bar-height;
  position: relative;
}

.button-create-post{
  @extend.button, .button-calm;
}

.button-center{
  @extend.button, .button-calm;
}

.map-buttons{
   position: absolute;
   bottom: 7%;
   left: 3%;
 }

