<ion-view view-title="{{action}} Profile">


  <ion-content>

    <div class="list list-inset">

      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="profile.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="profile.userName">
      </label>

    </div>

    <button class="button button-block button-dark" ng-click="saveProfile()">
      Save
    </button>

  </ion-content>

</ion-view>
